body {
    display: flex;
    flex-direction: column; /* Arrange child elements vertically */
    align-items: center; /* Optional: centers content horizontally */
}

#section-model {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}

#loading {
    width: 100%;
}

#model {
    /* position: relative; */
    min-height: 280px;
    max-width: 1300px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.image-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 100px;
    max-width: 280px;
    gap: 10px
}

.dynamic-routing-column {
    min-width: 500;
    position: relative;
    flex: 1;
}



#controls {
    /* display: block; */
    /* top: 100%; */
    width: 100%;
    /* background-color: aliceblue; */
    padding: 20px;
    box-sizing: border-box;
}

canvas {
    /* max-width: 280px; */
    border: 2px solid black;
    border-radius: 2px;
    transition: transform 0.2s ease;
    background-color: black;
}

canvas#input-image {
    left: 20px;
    cursor: pointer;
}

canvas#input-image:hover {
    transform: scale(0.98);
    opacity: 0.7; /* Canvas fades to 70% opacity */
}

canvas#reconstruction-image {
    right: 20px;
}

canvas#input-image:active {
    transform: scale(0.95); /* Shrinks canvas to 90% */
}

.disabled {
    pointer-events: none;
}

.losses-container {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.digits {
    font-variant-numeric: tabular-nums;
    color: black;
    font-weight: bold;
}

#model svg {
    width: 100%;
    min-height: 280;
}

.capsule {
    padding: 2 8px 2 8px;
    transform: translate(-50%, 50%);
    cursor: default;
    box-sizing: border-box;
    line-height: 1;
}

.capsule-selected {
    border: 2px solid black;
    border-radius: 2px;
}

.capsule:hover {
    background-color: gray;
    border-radius: 2px;
}

#dynamic-routing-controls {    
    display: flex;
    justify-content: center;
    gap: 4px;
}

.arrow-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.description {
    max-width: 700;
}

.highlight {
    background: linear-gradient(120deg, yellow 0%, orange 100%);
    padding: 0 5px;
  }