.network {
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: space-between;
}

.network svg {
    flex: 1;
}

.network .layer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.capsule {
    border: 2px solid black; /* Black border */
    border-radius: 9999px; /* Fully rounded for capsule shape */
    /*padding: 10px 20px; /* Space inside the div */
    display: block; /* Makes the div wrap around content */
    font-family: Arial, sans-serif; /* Optional: Set a font */
}

#network {
    position: absolute;
}

#network #capsule {
    position: absolute;
}